
 
BODY {
background:#000000;
margin: 0px 0px 0px 0px;
height:100%; 
color: #191970; 
font: 12px georgia;


}


A:link {text-decoration: none; color: #153E7E;}
A:visited{text-decoration: none; color: #153E7E;}
A:hover {text-decoration: underline; color: #FF6600;}
A:active {text-decoration: none; color: #153E7E;}


#pageheader {
width:100%;
height:200px;
background: #000000;

margin: 0px 0px 0px 0px;
}

#pagewrapper {

width:849px;
margin-left: auto ;
  margin-right: auto ;

background: #EDEDED;
position:relative;
min-height:1000px;



}



#top {
background-image:url(/images/common/header2.png);
height:175px;
width:849px;
background-repeat:no-repeat;
position:relative;

background-color:	#2B547E;
}

#topmenu{

position:relative;
top:100%;
background-color:	#2B547E;
}



#sidemenu {
width:150px;
padding:10px 10px 10px; 10px;
float: left;
text-align:left;
background-image:url(/images/common/sidebar_bg.jpg);
min-height:800px;
               
}


#content {


width:100%;
color:#000066;
float:right;
font-family:arial;
background: #EDEDED;


}

.invisible { display: none; }

.textheadings {
	color: #191970;
	font-size:medium;
	}
	.date {
	color: #191970;
	font-size:xx-small;
	}