

BODY {
background: #000000;
margin: 0px 0px 0px 0px;
height:100%; 
color: #FFFFFF;
font: 12px georgia;

}


A:link {text-decoration: none; color: #98AFC7;}
A:visited{text-decoration: none; color: #98AFC7;}
A:hover {text-decoration: underline; color: #FFFFFF;}
A:active {text-decoration: none; color: #98AFC7;}


#pageheader {
width:100%;
height:200px;

margin: 0px 0px 0px 0px;
}



#top {
background-image:url(/images/common/header.png);
height:175px;
background-repeat:no-repeat;
position:relative;
left:200px;
}

#topmenu{

position:relative;
top:100%;
float:center;

}


#sidemenu {
width:150px;
height:90%;
position:absolute;
top: 205px;
padding:10px 10px 10px; 10px;
float: left;
text-align:left;
color:#98AFC7;
}


#content {
width:62%;
left:200px;
position:absolute;
top: 205px; 
height:600px;
padding:10px 10px 10px; 10px;
color: white;
float: left;




}

#bottom {
width:100%;
height:175px;
background: pink;
position: relative 100% 100%;
color:black;
margin: 0px 0px 0px 0px;
}

<!-- Div styles for Side Menu -->  
#news {

display:inline;

}

#quests {

display:none;

}

#game {

display:none;

}
#npcinfo{

display:none;

}

#iteminfo{

display:none;

}

#location{

display:none;

}

#monsters{

display:none;

}
#rome{

display:none;

}

#crafting{

display:none;

}

#guilds{

display:none;

}


#freeleague{

display:none;

}

#market{

display:none;

}
#strat{

display:none;

}

<!-- End Div styles for Side Menu -->  

<!--Styles for Merc Pages --!>
#merc_wrapper {
    background-image:url(/images/common/header.png);
	width:100px;
	
}
	{
#merc_stats{

	
}
#merc_info{
	
}
